body {
	background-image:	url("../../img/b5.png");
	background-repeat: repeat;
}

nav {
	margin: 5px;
}


select[multiple], select[size] {
		height: 71vh;
}
@media (max-width: 767px) {
	select[multiple], select[size] {
			height: 35vh;
	}
}

.panel-title {
	font-size: 1em;
}

@media (max-width: 1200px) {
	.margin-b-form {
			margin-bottom: 15px;
	}
}

.control-btn {
	padding-bottom: 4px;
}

.no-marg-bot {
	margin-bottom: 0;
}

.nopadding {
	padding: 0;
}

.disabledInf {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.edit-cnt {
	margin-left: 20px;
	margin-right: 20px;
}






table {
	background-color: white;
}

#singlebutton {
	margin-bottom: 5px;
}

.supprCntLink {
	float: right;
}

.nopadding {
	padding: 0;
}




/* v---navBar---v*/

.test-center .contacts{
	color: #23527c;
	background-color: #ecf3f7;
	border-bottom: 2px solid #23527c;
}

.test-center .contacts:hover {
	background-color: #dae8ef;
	border-bottom: 2px solid #23527c;
}
