body {
	background-image:	url("../../img/b5.png");
	background-repeat: repeat;
}

nav {
	margin: 5px;
}

.no-marg-bot {
	margin-bottom: 0;
}

.panel-heading .input-group-addon {
	width: 106px;
}

.input-group {
	width: 100%;
}

/* v---navBar---v*/

.test-center .fournisseurs{
	color: #23527c;
	background-color: #ecf3f7;
	border-bottom: 2px solid #23527c;
}

.test-center .fournisseurs:hover {
	background-color: #dae8ef;
	border-bottom: 2px solid #23527c;
}
