body {
	background-image: url("../../img/2.jpg");
	margin: 0;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	font-size: 16px;
	color: #ffffff;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin-heading {
	text-align: center;
}
.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control	{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* Flexbox stuff */
header h1 {
	text-align: center;
	font-size: 4em;
	margin: 0;
	padding: 0.5em 0;
	color: #ffffff;
}

main #container {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: center;
}
.form-signin {
	flex-basis: 500px;
}
