body {
	margin: 0;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	font-size: 16px;
	color: #ffffff;
}
.form-signin .form-signin-heading {
	margin-bottom: 10px;
}
.form-signin-heading {
	text-align: center;
}


.form-signin .form-control	{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
	padding: 0.4em 0.8em;
	color: white;
}
.navbar-default .navbar-nav > li > .btn-default {
	color: black;
}

header {
	height: 100vh;
	background-image: url("../../img/2.jpg");
	background-size: cover;
}
header > div {
	height: 100%;
	display: flex;
	align-items: center;
}

header > div div {
	margin: 0 3em;
}

header > div h1, header > div h2 {
	color: white;
	font-style: normal;
}
header > div h1 {
	margin: 0;
	font-size: 5em;
}
header > div h2 {
	font-size: 4em;
}

main #features {
	display: block;
}
main #features > div {
	padding: 1em;
}
main img {
	display: block;
	margin: 1em auto;
}

main #sign {
	background-image: url("../../img/9.jpg");
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: center;
}
.form-signin {
	flex-basis: 500px;
}

footer {
	background-color: #bbbbbb;
}

footer p {
	padding: 0.5em 0;
	margin: 0;
}
footer p:last-child {
	text-align: right;
}
