body {
	background-image:	url("../../img/b5.png");
	background-repeat: repeat;
}

nav {
	margin: 5px;
}

#sortable {
	list-style-type: none;
	margin: auto;
	padding: 0;
	text-align: center;
}

#sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	font-size: 1.4em;
	text-align: center;
}

.liste {
	width: 100%;
	text-align: center;
}

ul li {
	text-align: center;
}

ul {
	text-align: center;
}

input {
	margin: auto;
	width: 80%;
}

.supr-souh {
	float: right;
	color: white !important;
}

/* v---navBar---v*/

.test-center .liste{
	color: #23527c;
	background-color: #ecf3f7;
	border-bottom: 2px solid #23527c;
}

.test-center .liste:hover {
	background-color: #dae8ef;
	border-bottom: 2px solid #23527c;
}
