#scrollable{
  height:300px;
  overflow:auto;
  background-color: white;
}

.date{
  float: right;
  display: inline-block;
}

#scrollable p{
  display: inline-block;
}

.admin{
  color: red; 
}

.form-horizontal .control-label{
  text-align: left;
}
