@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);/*pour le compteur*/
body {
  background-image:  url("../img/bgPaper.png");
  background-repeat: repeat;
}

#wedding {
  background: #8fb7db;
  background: -moz-linear-gradient(-45deg,  #8fb7db 24%, #ffc1c1 84%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #8fb7db 24%,#ffc1c1 84%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #8fb7db 24%,#ffc1c1 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fb7db', endColorstr='#ffc1c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: white;
}

/* Styles pour les tablettes */
@media (min-width: 768px) {
}

/* Styles pour les écrans moyens et grands */
@media (min-width: 992px) {
}

.navbar-default .navbar-nav > .active > a {
  background-color: #dae8ef;
}
nav {
  margin: 5px;
}

th {
  background-color: white;
  text-align: center;
}

table a {
  width: 100%;
}

th:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #23527c;
}

tr .active{
  background-color: #dae8ef;
}

tr .active:hover {
  background-color: rgba(218, 232, 239, 0.5);
  border-bottom: 2px solid #23527c;
}

.test-center {
  background-color: white;
  text-align: center;
}

.test-center a {
  width: 18%;
  display: inline-block;
}
/* Styles pour les tablettes */
@media (min-width: 768px) {
  .test-center a {
    width: 10%;
    display: inline-block;
  }
}
